body {
  background: black;
  margin: 0;
  font-family: montserrat;
  background-image: url("Assets/banner.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%, 100%;
}
html {
  scroll-behavior: smooth;
}

/*--------------TOP BANNER------------*/
.logo > img {
  width: 100%;
  height: auto;
}
.logo {
  width: 10%;
}
.slogan {
  width: 20%;
  margin-top: 4%;
}
.slogan > img {
  width: 100%;
}
.topbanner {
  background: black;
  display: flex;
  justify-content: right;
}
.topnav {
  overflow: hidden;
  background-color: #0f7359;
  margin: auto;
  text-decoration: bold;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
}
.topnav a:hover {
  background-color: #c852cb;
  color: white;
}
.topnav .icon {
  display: none;
}
/*--------------------------------------*/

.banner {
  margin-top: 7%;
  color: black;
  text-align: center;
  z-index: 2;
}

.banner > img {
  margin-top: 4%;
  width: 50%;
}

.banner > img:hover {
  animation: bannerpop 0.5s;
}

#bob {
  animation: bob 3s infinite;
  font-size: 200%;
}

@keyframes bannerpop {
  0% {
    width: 50%;
  }
  50% {
    width: 60%;
  }
  100% {
    width: 50%;
  }
}

/*----DANCE QUOTE BANNER----*/
.title {
  padding: 2%;
  margin-top: 20%;
  margin-bottom: 5%;
  color: white;
  text-align: center;
  font-size: 70%;
  background: #0f7359;
  animation: title 10s infinite;
}

@keyframes bob {
  0% {
    color: white;
  }
  50% {
    color: #181818;
  }
  100% {
    color: white;
  }
}

/*-------------------------*/

h2 {
  margin-top: 10%;
  text-align: center;
  color: white;
  font-size: 300%;
}
h3 {
  text-align: center;
  color: white;
  font-size: 300%;
}

#postdetails {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 70%;
}

h4 {
  color: white;
  text-align: center;
  z-index: 2;
  position: relative;
  top: 50%;
  padding: 2%;
  background: black;
}

/*----------HOVER EFFECTS-------------------*/
h2:hover {
  color: #c852cb;
}

h3:hover {
  color: #c852cb;
}

h4:hover {
  background: #c852cb;
}

.showcase {
  position: relative;
}

/*----------Overlay on video----------------*/
.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  font-size: 2em;
  text-align: center;
  background: #0f7359;
}

/*----------Social Media Container----------*/
.posts {
  z-index: 2;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
}

/*------lOCATION AND CONTACT CONTAINER------*/
.location {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid rgb(51, 51, 51);
}

iframe {
  object-fit: scale-down;
  width: 100%;
  margin: 0;
  padding: 0;
}

.maps {
  flex: 1;
}

.filtered-video {
  z-index: -2;
  filter: blur(5px);
}

/*------------container beside maps--------*/
.details {
  color: white;
  text-align: center;
  z-index: 2;
  flex: 1;
  font-size: 130%;
  background: #181818;
}

.details > img {
  padding-top: 15%;
  width: 30%;
}
.details:hover {
  background: #0f7359;
}
/*--------JUMP TO TOP BUTTON---------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0f7359;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: white;
  color: black;
}
